		/*	base page  */
.login-img{
	height: 100vh !important;
}
.bg-gray{
	background-color: #e9ecee;
}
.nav-item .nav-link{
	color: #914fb8 !important;
}
.nav-item .active{
	background-color: #aa40de !important;
	color: white !important;
	font-weight: bolder;
}

.nav-item .nav-link:hover{
	background-color: #aa40de !important;
	color: white !important;
}
.dropdown-menu .dropdown-item:hover{
	background-color: #c966fa !important;
	color: white;
}
.popover-body{
	padding: 0 !important;
}
							/* for base append notification */
.list-group-item-action:hover{
	background-color: #c966fa !important;
	color: white !important;
}
footer{
	width: 100%;
	height: 100px;
	background-color: #343a40;
	color: white;
	text-align: center;
	padding: 20px;
}
							/*	dashboard page  */
.box-1{
	background: linear-gradient(to right,#f55e00,#fca326);
	color: white;
}

.box-2{
	background:linear-gradient(to right,#27bf04,#64ff40);
	color: white;
}

.box-3{
	background:linear-gradient(to right,#9000d6,#c966fa);
	color: white;
}

.box-4{
	background:linear-gradient(to right,#f02500,#ff664a);
	color: white;
}

.box-5{
	background:linear-gradient(to right,#009fde,#6bd5ff);
	color: white;
}
.box-6{
	background:linear-gradient(to right,#c70255,#f7579a);
	color: white;
}

.box{
	transition: all 1.2s;
}

.box-div:hover .box{
	transform: scale(1.1);
}										/*	order-detail page  */

.order-item-pic{
	width: 100px;
	height: 80px;
}

										/*for animated.css*/
.flash {
  animation-duration: 4s !important;
}

.rounded-input{
	border-radius: 20px !important;
}