{%extends "restroadmin/base.html"%}
{%load custom_tags%}
{%block title%} {{request.user.restroprofile.restro.name|title}} manage orders{%endblock%}

{%block body%}

<div class="container-fluid">
	<div class="p-4 bg-white">
		<h4 class="d-inline">Order Detail <mark>#663487{{order_received.order.id}}</mark></h4>
		<small class="d-block"><a href="/restaurant/orders">Home</a> / Order Detail</small>
	</div>
</div>
<div class="px-5 py-3 bg-gray">
	<div class="container-fluid p-5 bg-white">
			{%if is_update%}
				<div class="alert alert-danger alert-dismissible fade show mb-5">
					<button class="close" data-dismiss="alert">&times;</button>
					Order Has been Updated</div>
					{%endif%}
		<div class="row">
			<div class="col-lg-6">
				<div class="table-responsive">
					<table class="table table-bordered">
					    <thead>
					      <tr><th class="text-center text-primary" colspan="2"><h5>User Details</h5></th></tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>Order Number</td>
					        <td><mark>#663487{{order_received.order.id}}</mark></td>
					      </tr>
					      <tr>
					        <td>Customer Name</td>
					        <td>{{order_received.order.profile.user.username|title}}</td>
					      </tr>
					      <tr>
					        <td>Email</td>
					        <td>{{order_received.order.profile.user.email}}</td>
					      </tr>
					      <tr>
					        <td>Mobile Number</td>
					        <td>{{order_received.order.profile.tel}}</td>
					      </tr>
					      <tr>
					        <td>Flat no./Building no.</td>
					        <td>NA</td>
					      </tr>
					      <tr>
					        <td>Area</td>
					        <td>{{order_received.order.address.area|title}}</td>
					      </tr>
					      <tr>
					        <td>Landmark</td>
					        <td>{{order_received.order.address.landmark|title}}</td>
					      </tr>
					      <tr>
					      	<td>Full Address</td>
					      	<td>{{order_received.order.address.address|title}}</td>
					      </tr>
					      <tr>
					        <td>City</td>
					        <td>{{order_received.restro_profile.restro.location.city|title}}</td> <!-- use user profile address city -->
					      </tr>
					      <tr>
					        <td>Order Date</td>
					        <td>{{order_received.order.date_time}}</td>
					      </tr>
					      <tr>
					        <td>Order Final Status</td>
					        {%if not order_updates%}
					        <td>wait for restaurant approval</td>
					        {%else%}
					        <td>{{order_updates.0.status}}
					        	{%if order_received.order.cancelled%}	
							<i class="fas fa-window-close text-danger float-right mr-5"></i>
							{%elif order_received.order.ordered%}
								<i class="fas fa-check-circle text-success float-right mr-5"></i>
							{%elif order_updates.0.status == "Order Pickup"%}
								<i class="fas fa-motorcycle text-warning float-right mr-5 animated infinite flash"></i>
							{%else%}
								<i class="fas fa-utensils text-warning float-right mr-5 animated infinite flash"></i>
							{%endif%}
					        </td>
					        {%endif%}
					      </tr>
					    </tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0 mt-md-0">
				<div class="table-responsive">
					<table class="table table-bordered">
					    <thead>
					      <tr><th class="text-center text-primary" colspan="5"><h5>Order Details</h5></th></tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td class="font-weight-bolder">#</td>
					        <td class="font-weight-bolder">Food</td>
					        <td class="font-weight-bolder">Food Name</td>
					        <td class="font-weight-bolder">QTY</td>
					        <td class="font-weight-bolder">Price</td>
					      </tr>
					      {%for order_item in order_items%}
						      <tr>
						        <td>{{forloop.counter}}</td>
						        <td><img src="/media/{{order_item.item.pic}}" class="order-item-pic"></td>
						        <td>{{order_item.item.name}}</td>
						        <td>{{order_item.qty}}</td>
						        <td>{{order_item.item.price}}</td>
						      </tr>
						  {%endfor%}
					      <tr>
					      	<td colspan="4" class="text-center"><strong>Grand Total</strong></td>
					      	<td>{{order_items|getTotal}}</td>
					      </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div><hr>
		{%if not order_received.order.cancelled and not order_received.order.ordered%}
			<form action="/restaurant/order-detail/{{order_received.id}}" method="post">{%csrf_token%}
				<div class="d-flex justify-content-between">
					<label for="restro_remark">Restaurant Remark:</label>
					<textarea class="form-control w-50" rows="5" name="desc"></textarea>
				</div><hr>
				<div class="d-flex justify-content-between">
					<label for="restro_status">Restaurant Status:</label>
					<select class="form-control w-25" name="status">
						<option>Order Confirmed</option>
						<option>Order Cancelled</option>
						<option>Order Being Prepared</option>
						<option>Order Pickup</option>
						<option>Order Delivered</option>
					</select>
				</div>
				<div class="text-right mt-5">
					<input type="submit" class="btn btn-success" value="Update Order">
				</div>
			</form>
		{%endif%}

		{%if order_updates%}
			<div class="table-responsive">
				<table class="table table-bordered mt-5">
					<thead>
					  <tr><th class="text-center font-weight-bolder" colspan="5"><p>Food Tracking History</p></th></tr>
					</thead>
					<tbody>
					  <tr>
					    <td class="font-weight-bolder">#</td>
					    <td class="font-weight-bolder">Remark</td>
						<td class="font-weight-bolder">Status</td>
					    <td class="font-weight-bolder">Time</td>
					  </tr>
					{%for order_update in order_updates reversed %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{order_update.desc|title}}</td>
							<td>{{order_update.status}}</td>
							<td>{{order_update.date_time}}</td>
						</tr>
					{%endfor%}
					</tbody>
				</table>		
			</div> 		 
		{%endif%}
	</div>
</div>

{%endblock%}