				<div class="sticky-top">
					<a href="" id="set-checkout-cart-link" class="text-dark text-decoration-none">
					<div class="row no-gutters">
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
							<!-- set cart item restro img show here by jquery -->
							<img src="" class="img-fluid checkout-cart-img">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10 col-10">
							<!-- set cart item restro img and desciption link by jquery -->
								<h5 class="d-inline text-capitalize" id="set-restro-name"></h5>
								<p class="text-muted font-weight-bolder text-capitalize" id="set-restro-location"></p>
						</div>
					</div>
					</a>
					<div id="sidebarcart" class="my-2">
							<!-- Append cart items here by jquery -->
					</div>
					<!-- if cart available then only show -->
						<div class="border-dotted py-2 px-5 text-center cursor-pointer" data-toggle="modal" data-target="#offer-modal">
							<p class="text-muted font-weight-bolder">Apply Coupon</p>
						</div><br>
						<p>Bill Details</p>
						<div class="d-flex justify-content-between">
							<span>Item Total</span><span id="carttotal">₹0</span>
						</div>
						<div class="d-flex justify-content-between text-success mb-4">
							<span>Total Discount</span><span>-₹0</span>
						</div><hr class="text-dark bg-dark">
						<div class="d-flex justify-content-between">
							<p class="font-weight-bolder">TO PAY</p><span class="carttotal2">₹0</span>
						</div>
						<p class="bg-gray text-success px-3 py-2 border border-success">You have saved <strong>₹0</strong> on the bill</p>
				</div>
				<!-- Apply coupon section -->
					<div class="modal fade" id="offer-modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<h4 class="bg-secondary text-white font-weight-bolder text-center py-2">this section currently in process</h4>
										<form class="form-inline ml-5 mt-5">
											<div class="form-group">
												<input type="search" name="coupon" class="form-control" placeholder="Enter coupon code">
												<input type="submit" class="btn btn-danger px-3" value="APPLY">
											</div>
										</form><hr>
										<ul class="list-group mt-5">
											<li class="list-group-item">Get 50% discount using <span class="py-2 px-4 border bg-light text-warning">RESTROIT</span> available for first time user.</li>

											<li class="list-group-item mt-4">Get 20% upto Rs.200 discount using <span class="py-2 px-4 border bg-light text-warning">JUSTEAT</span> available for limited time .</li>
										</ul>
									</div>
								 </div>
							</div>
					</div>